h1{
	color:purple;
	font-family: 'Passion One', cursive;
	margin: auto;
	width:50%;
	boarder-style:solid; color: purple
}
body {
	color: black;
}
#flex-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	

}

p{
	background-color: pink;	

	font-family: "Courier";
	border-style: solid; color: red
	text-color: black;
	display: block;
}

p.one {
	border: 15px solid blue;
	background: pink;
	margin: 15px;

	width: 200px;
	
}
p.two {
	border: 15px solid blue;
	background: pink;
	margin: 15px;

	width: 200px;
	
}
p.three {
	border: 15px solid blue;
	background: pink;
	margin: 15px;
	
	width: 200px;
	
}

a:link{
	font-size: 200%;
}
a{
	color:brown;
}
