body {
	text-align: center;
}

.column{
	width: 300px;
	padding: 10px;
	float: left;
}

.title {
	font-size: 24px;
	border: 5px solid black;
	margin-bottom: 10px;
}

.biography {
	width: 1000px;
    overflow: auto;
    margin: 0 auto;
}

.bio {
	margin-top: 20px;
	text-align: justify;
	border: 5px solid black;
	padding: 10px;
}